<div class="error-page">
  {{#if title}}<h2>{{title}}</h2>{{/if}}
  <p>{{error}}</p>
  {{#if postMatches}}
  <div class="related-posts">
    <h4>Didn't find what you wanted? <br />Try some of these posts!</h4>
    <ul class="list-unstyled">
      {{#each postMatches}}
      <li><a href="{{this.url}}">{{this.title}}</a></li>
      {{/each}}
    </ul>
  </div>
  {{/if}}
  {{!-- <p><img src="/images/hamster-wheel.gif" /></p> --}}
</div>
