<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script><script>$(function () {
    var $body        = $('body');
    var navClassShow = 'show-nav';
    var navClassHide = 'show-nav';

    $(document)
      .on('keyup', function (event) {
        // Toggle with hitting of ESC
        if (event.keyCode === 27) {
          $body.toggleClass(navClassShow);
        }
      })
      .on('click', '#menu_toggle', function (event) {
        event.preventDefault();

        $(this).toggleClass('menu-active');

        if ($body.hasClass(navClassShow)) {
          $body.removeClass(navClassShow).addClass(navClassHide);

          setTimeout(function () {
            $body.removeClass(navClassHide);
          }, 300);
        } else {
          $body.removeClass(navClassHide).addClass(navClassShow);
        }
      });
  });</script>