<!doctype html>
<html prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#" class="no-js">
  <head>
    {% include 'head.html' %}
  </head>

  <body itemscope itemtype="http://schema.org/WebPage">
    <div class="site-container">
      <header class="site-header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
        <div class="site-header-avatar">
          <img class="site-header-avatar-img" src="{{gravatar}}">
        </div>

        <div class="site-header-title">
          <h1 itemprop="headline">
            <a href="/" title="{{site.description}}">{{site.title}}</a>
          </h1>
        </div>

        <div class="site-header-description">
          <p>{{site.description}}</p>
        </div>

        <div class="site-header-nav">
          <nav class="site-header-nav-pages" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
            <ul>
              {% for page in pages %}
              <li itemprop="url">
                <a href="{{page.url}}" title="{{page.title}}" itemprop="name">{{page.title}}</a>
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </header>

      <main class="site-content" role="main" itemprop="mainContentOfPage">
        <section itemscope itemtype="http://schema.org/Blog">
          {% block body %}{% endblock %}
        </section>
      </main>

      <footer class="site-footer">
        <div class="site-footer-social">
          <ul>
            {% if site.social.twitter %}
            <li>
              <a href="https://twitter.com/{{site.social.twitter}}" title="Twitter">
                Twitter
              </a>
            </li>
            {% endif %}
            {% if site.social.github %}
            <li>
              <a href="https://github.com/{{site.social.github}}" title="Github">
                Github
              </a>
            </li>
            {% endif %}
            {% if site.social.googleplus %}
            <li>
              <a href="https://plus.google.com/+{{site.social.googleplus}}?rel=author" title="Google+">
                Google+
              </a>
            </li>
            {% endif %}
            <li>
              <a href="/rss.xml" title="RSS">
                RSS
              </a>
            </li>
          </ul>
        </div>

        <div class="site-footer-inner">
          <p>Want to send email better? <a href="https://www.sendwithus.com?ref=brandonb.io">Try Sendwithus for free</a>!</p>
          <p>Copyright &copy; <time datetime="{{site.dateObj}}" itemprop="datePublished">{{site.date}}</time>. All rights reserved.</p>
        </div>
      </footer>
    </div>

    {% include 'foot.html' %}
  </body>
</html>
