{% extends 'layout.html' %} {% block body %} {% include 'post_article.html' %} {% if not post.isPage %} {% if disqus.shortname %}<div class="post-comments"><div class="post-comments-button"><button class="button show-comments">Load Comments</button></div><div id="disqus_thread" data-disqus-shortname="{{disqus.shortname}}" data-disqus-url="{{post.url}}"></div><script>var commentsButton = document.querySelector('.show-comments');
    var s = commentsButton.style;
    s.opacity = 1;

    commentsButton.addEventListener('click', function () {
      {% if googleAnalytics %}
      ga('send', 'event', 'button', 'click', 'show-comments');
      {% endif %}

      // Delay the script loading so the button fades out
      // before the disqus loader takes it's place
      setTimeout(function () {
        var script = document.createElement('script');
        script.setAttribute('type','text/javascript');
        script.setAttribute('src', '//{{disqus.shortname}}.disqus.com/embed.js');
        document.getElementsByTagName('head')[0].appendChild(script);
      }, 200);

      ;(function fade () { (s.opacity -= .1) < 0 ? s.display = "none" : setTimeout(fade ,40) })();
    });</script></div>{% endif %} {% endif %} {% endblock %}