@media (min-width: @grid-breakpoint-large-min) { // Desktop or higher

  // Resize for larger screens
  body {
    font-size: 1.8rem;
  }

  .site-content-container {
    padding-top: 8rem;
  }

}


@media (max-width: @grid-breakpoint-medium-max) { // Everything up to desktop

  .site-container {
    width: 92%;
    padding-top: 8rem;
    padding-bottom: 2rem;
  }

  .site-content-container {
    //
  }

  .site-content {
    padding: 1rem;

    // Fix long links breaking out of boxes
    word-break: break-word;
    hyphens:    auto;
  }

}

@media (max-width: 48rem) { // iPhone size

  p {
    margin-bottom: 3rem;
  }

  blockquote {
    padding: 1rem;
  }

  .site-header-title {
    h1 {
      font-size: 2.6rem;
    }
  }

  .site-header-avatar-img {
    height: 3.6rem;
    width: 3.6rem;
  }

  .site-content {
    width: 100%;
    padding: 2rem;
  }

  .posts-feed-item {
    padding: 1rem 0;
  }

  .post-content {
    figure {
      margin: 0;
    }
  }

}
