@import 'utilities.less';
@import 'variables.less';

@import 'modules/normalize.less';
@import 'modules/base.less';
@import 'modules/embedded-content.less';
@import 'modules/grid.less';
@import 'modules/print.less';
@import 'modules/syntax.less';
@import 'modules/tables.less';
@import 'modules/typography.less';
@import 'modules/buttons.less';


/**
 * Main style classes
 */

// Fix FOUT, the rest is now loaded on   DOMReady
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.wf-active {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  ul,
  ol { opacity: 1 !important; }
}

// Give all links a nice transition
a { transition: all 0.2s; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  display: none;
}

// Site sidebar
.site-sidebar {
  position: fixed;
  top: 0;
  left: -@sidebar-width;
  width: @sidebar-width;
  height: 100%;
  background: #222;
  z-index: 20;
  overflow: hidden;
  transition: all 0.2s;
  .text-center;
}

.menu-trigger {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

// Main site container
.site-wrapper {
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  transition: all 0.2s;
}

// Avatar
.site-avatar {
  height: 96px;
  width: 96px;
  border-radius: 50%;
}

// Main site header
.site-header {
  padding: @base-rem-unit 0 0;
  .text-center;

  .header-title {
    margin-top: @base-rem-unit;
    font-size: (@base-rem-unit * 1.5);
  }
}

.header-nav {
  .nav-menu {
    a {
      display: block;
      padding: (@base-rem-unit / 2) 0;
      vertical-align: middle;

      &:hover {
        background: @gray-light;
        color: @base-font-color;
      }
    }
  }
}

.site-bio {
  padding: (@base-rem-unit * 2);
  color: @gray-light;

  p { margin-top: (@base-rem-unit * 2); }
}

.social-icons {
  position: absolute;
  bottom: (@base-rem-unit * 2);
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: inline-block;
    padding: (@base-rem-unit / 2);
  }

  a {
    position: relative;
    display: inline-block;

    &:hover {
      color: @gray;
      transform: scale(1.5);
    }

    i { font-size: (@base-font-size * 2); }
  }
}

// Posts feed on homepage
.feed {
  max-width: @grid-breakpoint-medium-max;
  margin: 0 auto;
}

// Post within feed
.feed-post {
  padding: (@base-rem-unit * 2) 0;
  border-bottom: solid 1px @gray-lighter;

  &:first-child { padding-top: 0; }
  &:last-child  { border-bottom: none; }
}

// Posts metadata (byline, datetime, etc)
.post-meta {
  margin-bottom: (@base-rem-unit * 2);
  .text-bold;
  .cf;

  .meta-left,
  .meta-right { width: 49.9%; }
  .meta-left  { float: left;  }
  .meta-right {
    float: right;
    text-align: right;
  }

  .meta-label { display: inline-block; }
}

// Posts pagination in homepage feed
.pagination {
  margin-top: (@base-rem-unit * 2);
  .cf;

  a {
    .no-underline;

    &.pagination-prev { float: left;  }
    &.pagination-next { float: right; }
  }
}

.post-wrapper {
  max-width: @grid-breakpoint-medium-max;
  margin: 0 auto;
}

.post-article { margin-bottom: (@base-rem-unit * 3); }

.post-content {
  h1,
  h2,
  h3 { margin-top: (@base-rem-unit * 2); }
}

.post-image {
  .text-center;
  margin: (@base-rem-unit * 1.5) 0;

  a {
    display: block;
  }

  img {
    opacity: 0;
    transition: opacity .3s ease-in;
  }
}

.post-comments { margin-top: (@base-rem-unit * 3); }

// If there is an error with an embed, style it a bit
.embed-error {
  margin: @base-rem-unit 0;
  padding: @base-rem-unit;
  background: @gray-light;
}

.error-page { .text-center; }

// Fix Github gists
.highlight {
  margin: 0;

  .line-data {
    .line-pre {
      color: inherit;
      box-shadow: none;
    }
  }
}

// Responsive-related classes
@import 'responsive.less';
