@import 'utilities.less';
@import 'variables.less';

@import 'modules/normalize.less';
@import 'modules/base.less';
@import 'modules/embedded-content.less';
@import 'modules/grid.less';
@import 'modules/print.less';
@import 'modules/syntax.less';
@import 'modules/tables.less';
@import 'modules/typography.less';
@import 'modules/buttons.less';


/**
 * Main style classes
 */

@-webkit-keyframes shaky {
  0%    { transform: translate(2px, 1px)    rotate(0deg);   }
  10%   { transform: translate(-1px, -2px)  rotate(-1deg);  }
  20%   { transform: translate(-3px, 0px)   rotate(1deg);   }
  30%   { transform: translate(0px, 2px)    rotate(0deg);   }
  40%   { transform: translate(1px, -1px)   rotate(1deg);   }
  50%   { transform: translate(-1px, 2px)   rotate(-1deg);  }
  60%   { transform: translate(-3px, 1px)   rotate(0deg);   }
  70%   { transform: translate(2px, 1px)    rotate(-1deg);  }
  80%   { transform: translate(-1px, -1px)  rotate(1deg);   }
  90%   { transform: translate(2px, 2px)    rotate(0deg);   }
  100%  { transform: translate(1px, -2px)   rotate(-1deg);  }
}

.shake {
  display: inline-block;

  &:hover,
  &:focus {
    transform-origin: 50% 50%;
    animation-name: shaky;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

// Fix FOUT
.wf-loading {
  * {
    opacity: 0;
    transition: opacity 0.4s ease-in;
  }
}
.wf-active {
  * { opacity: 1; }
}

// Give all links a nisce transition
a {
  transition: all 0.2s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  display: none;
}

// Site sidebar
.site-sidebar {
  position: fixed;
  top: 0;
  left: -@sidebar-width;
  width: @sidebar-width;
  height: 100%;
  background: #222;
  z-index: 20;
  overflow: hidden;
  transition: all 0.2s;
  .text-center;
}

.menu-trigger {
  position: absolute;
  top: (@base-rem-unit * 2.5);
  left: @base-rem-unit;
}

// Main site container
.site-container {
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  transition: all 0.2s;
}

// Avatar
.site-avatar {
  height: 96px;
  width: 96px;
  border-radius: 50%;
}

// Main site header
.site-header {
  padding: (@base-rem-unit * 2) @base-rem-unit 0;
  .text-center;
}

.header-nav {
  .nav-menu {
    // li { }
    a {
      display: block;
      padding: (@base-rem-unit / 2) 0;
      vertical-align: middle;

      &:hover {
        background: @gray-light;
        color: @base-font-color;
      }
    }
  }
}

.site-bio {
  padding: (@base-rem-unit * 2);
  color: @gray-light;

  p { margin-top: (@base-rem-unit * 2); }
}

.social-icons {
  position: absolute;
  bottom: (@base-rem-unit * 2);
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: inline-block;
    padding: (@base-rem-unit / 2);
  }

  a {
    position: relative;
    display: inline-block;

    &:hover {
      color: @gray;
      transform: scale(1.5);
    }

    i {
      font-size: (@base-font-size * 2);
    }
  }
}

// Posts feed on homepage
.feed {
  width: 90%;
  margin: 0 auto;
}

// Post within feed
.feed-post {
  padding: (@base-rem-unit * 2) 0;
  border-bottom: solid 1px @gray-lighter;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
  }
}

// Posts metadata (byline, datetime, etc)
.post-meta {
  margin-bottom: (@base-rem-unit * 2);
  .text-bold;
  .cf;

  .meta-left,
  .meta-right { width: 49.9%; }
  .meta-left  { float: left;  }
  .meta-right {
    float: right;
    text-align: right;
  }

  .meta-label { display: inline-block; }
}

// Posts pagination in homepage feed
.pagination {
  margin-top: (@base-rem-unit * 2);
  .cf;

  a {
    .no-underline;

    &.pagination-prev { float: left;  }
    &.pagination-next { float: right; }
  }
}

// If there is an error with an embed, style it a bit
.embed-error {
  margin: @base-rem-unit 0;
  padding: @base-rem-unit;
  background: @gray-light;
}

.error-page { .text-center; }

// Fix Github gists
.highlight {
  margin: 0;

  .line-data {
    .line-pre {
      color: inherit;
      box-shadow: none;
    }
  }
}

// Responsive-related classes
@import 'responsive.less';
